<div class="edit poll">
</div>

<p>
{{pollname}}

</p>
<p>
List of Options
</p>
<p>
---------------

</p>
<form method="post">
{% for column_name1 in row1%}
      <tr>
        <td> {{column_name1}} </td> 
        <input type="radio" id="{{column_name1}}" name="Options" value="{{column_name1}}">
<br>
      </tr>
      {% endfor %}
      
      <p class="submit"><input type="submit" onclick="Function1()" name="commit" value="Vote"></p>
      <script>
      function Function1() {
  alert("Your vote has successfully been registered");
}
      </script>
</form> 
      


