<!DOCTYPE html>
<html>
<body>

<div class="poll details">
</div>

<script>
window.onunload = function(){};
</script>


{% if session['name'] %}
<div></div>
{% else %}
<script>

alert("You are logged out");
let url = window.location.href;
let b = url.split("/")
let c = b.length
let d = ""
for(i=0;i<c-3;i++){
d=d+b[i] + "/"
}
window.location.replace(d);

</script>
{% endif %}

<p>
{{pollname}}

</p>
<p>
List of Options
</p>
<p>
<label> Deadline : </label>
<label id="deadline">{{deadline}}</label>
<p>
<p>
<p>
<label>Current lead : </label>
</p>
<label id="winners">{{winners}}</label>
</p>
</p>
<label>Date :</label>
<label id="curdate">{{curdate}}</label>
<p>
</p>
The winner is : 
<label id="winner"></label>
<script>
let de = document.getElementById('deadline').textContent;
let cu = document.getElementById('curdate').textContent;
let winner = document.getElementById('winners').textContent;
if(de<cu)
{
document.getElementById("winner").innerText = winner;
}
else
{
document.getElementById("winner").innerText = "Not Decided";
}
</script>
</p>
<p>
---------------

</p>
{% for column_name1,column_name2 in dictionary.items()%}
<p>
      <tr>
        <td> {{column_name1}}  :  {{column_name2}}</td>
      </tr>
</p>
      {% endfor %}
<p> 
--------------------

</p>

<p>
Get link for the poll
</p>
<p>
--------------------

</p>

<p><input type="text" id="txt" readonly></p>
<script>
let a = window.location.href;
let b = a.split("/")
let c = b.length
let d = ""
for(i=0;i<c-2;i++){
d=d+b[i] + "/"
}
d = d + "edit_poll"
d = d + "/" + "{{pid}}"
document.getElementById("txt").value = d;
</script>

<script>
function myFunction() {
  var copyText = document.getElementById("txt");

  copyText.select();
  copyText.setSelectionRange(0, 99999); /* For mobile devices */

  document.execCommand("copy");

  alert("Copied the link: " + copyText.value);
}
</script>



<button onclick="myFunction()">Copy text</button>





</body>
</html>
